<div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi non recusandae nisi deserunt quae cumque veritatis debitis enim? Ut voluptatibus aut voluptatum accusamus esse delectus quaerat amet doloribus et. Explicabo!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi expedita voluptatem minus iure? Impedit, odit? Minus aperiam, dolorem nulla nisi illum quas quis fuga provident.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima illum, facilis tempore magni animi cumque veritatis! Eligendi optio, quis corrupti corporis a numquam nulla eos.</p>
</div>