<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <%- include('./content/index.ejs') %>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>